
@media all and (max-width: 699px) and (min-width: 520px){

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    min-width: 100%;
    font-family: 'Montserrat', sans-serif;
    background: #FFFFFF;
}

.btn {
    border-radius: 40px;
    text-decoration: none;
    text-align: center;
}
a.btn:link, a.btn:visited {
    color: white;
}
.btn-l {
    height: 40px;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 20px;
}
.btn-m {
    height: 36px;
    padding: 7px 18px;
    font-size: 14px;
}
.btn-s {
    height: 20px;
    padding: 2px 11px;
    font-size: 10px;
    letter-spacing: 2px;
}
.btn-hollow.btn-l {
    border: 2px solid #FF4E50;
}
.btn-hollow.btn-m {
    border: 2px solid white;
}
.btn-filled {
    border: 2px solid #FF4E50;
    background: #FF4E50;
}
.btn-l.btn-hollow:link, .btn-l.btn-hollow:visited {
    color: #FF4E50;
}
@media all and (max-width: 629px) {
    .btn-l {
        width: 90%;
    }
}

.section-container {
    margin-top: 95px;
    margin-right: auto;
    margin-left: auto;
}
.section-label {
    color: #444444;
    text-align: center;
}
@media all and (min-width: 1200px) {
    .section-container {
        max-width: 1100px;
    }
}


.roboto-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
    font-size: 14px;
}

.img-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.welcome-container {
    background: url("../img/bg-main.jpg") no-repeat center;
    background-size: cover ;
    height: 100vh;
    padding: 40px;
    color: white;
}
@media all and (max-width: 629px) {
    .welcome-container {
        padding: 20px;
    }
}

.welcome-body {
    width: 490px;
}
.welcome-body * {
    margin: 15px 0;
}
.welcome-large-label {
    font-size: 52px;
    text-align: center;
}
.welcome-medium-label {
    font-size: 24px;
    text-align: center;
}
.site-name-label {
    font-weight: bold;
    font-size: 20px;
}
@media all and (max-width: 629px) {
    .welcome-body {
        width: 280px;
    }
    .welcome-body a {
        width: 100%;
    }
    .welcome-large-label {
        font-size: 28px;
    }
    .welcome-medium-label {
        font-size: 18px;
    }
    .site-name-label {
        width: 100%;
        text-align: center;
        margin-top: 95px;
    }
}

.explanation-container {
    margin-top: 65px;
}
.explanation-body {
}
.step-card {
    height: 400px;
    position: relative;
    color: white;
    margin: 10px;
    overflow: hidden;
    border-radius: 4px;
}
.step-card a.btn:link, .step-card a.btn:visited {
    color: white;
}
.step-card>div {
    width: 300px;
    height: auto;
    padding: 25px;
}
.step-header {
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: 70%;
}
.step-text {
    color: #E3E3E3;
}
@media all and (min-width: 630px) and (max-width: 1199px) {
    .step-card {
        flex: 1 1;
    }
}
@media all and (max-width: 629px) {
    .step-card {
        height: 240px;
    }
}

.person {
    margin: 10px;
    width: 20%;
    color: #444444;
}
.person>h5 {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}
.person>p {
    color: #666666;
    text-align: center;
}
#partner-sec a {
    margin-top: 35px;
}
@media all and (min-width: 630px) and (max-width: 1199px) {
    .person {
        width: 40%;
    }
}
@media all and (max-width: 629px) {
    .person {
        width: 70%;
    }
}

.gallery-container {
    min-width: 100%;
}
.gallery-item {
    position: relative;
    margin: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    overflow: hidden;
}
.gallery-item a.btn:link, .gallery-item a.btn:visited {
    color: white;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 22px;
    text-align: center;
}
.gallery-item-s {
    width: 30%;
    height: 310px;
}
.gallery-item-m {
    width: calc(60% + 20px);
    height: 310px;
}
@media all and (min-width: 1200px) {
    .gallery-container {
        max-width: 1000px;
        min-width: 1200px;
    }
}
@media all and (max-width: 629px) {
    .gallery-item-s,.gallery-item-m {
        width: 100%;
        height: 120px;
    }
}

.interests-label {
    margin: 20px;
    text-align: center;
    color: #666666;
    font-size: 18px;
}
.interests-inp {
    margin: 10px 20px;
    width: 300px;
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.073313);
    border-radius: 3px;
    padding: 15px 0 10px 13px;
}
@media all and (max-width: 629px) {
    .interests-inp {
        width: 100%;
    }
}


.footer-delimiter {
    margin-top: 100px;
    height: 2px;
    background: #FF4E50;
}
footer {
    padding: 35px 40px;
}
footer p {
    font-weight: bold;
}
.footer-container {
    width: 100%;
}
.footer-container>* {
    flex: 1 1;
}
.footer-label {
    font-size: 16px;
    color: #FF4E50;
}
.footer-section-label {
    color: #444444;
}
.link-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.link-list li {
    min-width: 100%;
}
.link-list li a:link, .link-list li a:visited {
    margin: 0 5px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    font-size: 14px;
    color: #999999;
}
.logo-label {
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 1px;
    color: #CCCCCC;
}
@media all and (min-width: 1200px) {
    .footer-container {
        width: 1100px;
    }
    .logo-container {
        flex: 2 2;
    }
}
@media all and (max-width: 629px) {
    .footer-container > * {
        min-width: 100%;
        text-align: center;
    }
    .link-list {
        max-width: 60%;
        margin: auto;
    }
    .link-list li {
        min-width: unset;
    }
    footer .logo-container {
        align-items: center;
    }
}
